@model List<AccuStock.Models.User>
@{
    ViewBag.Title = "Chat";
}
<link rel="stylesheet" href="~/css/chat.css" />
<!-- Store current user ID in a meta tag -->
<meta name="user-id" content="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value">

<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="chat-container">
                <div id="userList" class="user-list">
                    <h3>Users</h3>
                    <ul>
                        @foreach (var user in Model)
                        {
                            <li onclick="startChat('@user.Id', '@user.FullName')">@user.FullName (@user.Email)</li>
                        }
                    </ul>
                </div>

                <div id="chatBox" class="chat-box" style="display:none;">
                    <h4 id="chatWith"></h4>
                    <div id="messages" class="message-container"></div>
                    <div class="message-input">
                        <input type="text" id="messageInput" placeholder="Type message..." />
                        <button onclick="sendMessage()" class="btn btn-sm btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}