@model IEnumerable<AccuStock.Models.JournalPost>

@{
    ViewData["Title"] = "Journal List";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Journal List</h5>
                <a class="btn btn-primary btn-sm" asp-controller="Journal" asp-action="AddJournal">
                    <i class="fas fa-solid fa-plus"></i> Add New
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead class="table-primary">
                        <tr>
                            <th>SL No.</th>
                            <th>Date</th>
                            <th>Journal No</th>
                            <th>Reference Number</th>
                            <th>Notes</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int index = 0;
                        }
                        @foreach (var journal in Model)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@journal.VchDate!.Value.ToString("dd/MM/yyyy")</td>
                                <td>@journal.VchNo</td>
                                <td>@journal.RefNo</td>
                                <td>@journal.Notes</td>
                                <td>@journal.Debit</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>