@model IEnumerable<AccuStock.Models.BusinessYear>

@{
    ViewData["Title"] = "Business Year List";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Business Year List</h5>
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addBusinessYearModal">
                    <i class="fas fa-solid fa-plus"></i> Add New
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatables" class="display table table-striped table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th>SL No.</th>
                                <th>Name</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 0;
                            }
                            @foreach (var businessYear in Model)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>@businessYear.Name</td>
                                    <td>@businessYear.FromDate.ToString("DD/MM/YYYY")</td>
                                    <td>@businessYear.ToDate</td>
                                    <td>
                                        <form method="post" action="@Url.Action("ToggleStatus", "BusinessYear")">
                                            <input type="hidden" name="businessYearId" value="@businessYear.Id" />
                                            <button type="submit" class="btn @(businessYear.Status ? "btn-success" : "btn-danger") btn-sm">
                                                @if (businessYear.Status)
                                                {
                                                    <i class="fas fa-check"></i> <span>Active</span>
                                                }
                                                else
                                                {
                                                    <i class="fas fa-times"></i> <span>Inactive</span>
                                                }
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-sm"
                                                onclick="editBusinessYear('@businessYear.Id', '@businessYear.Name', '@businessYear.FromDate', '@businessYear.ToDate')"
                                                data-bs-toggle="modal" data-bs-target="#addBusinessYearModal">
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="addBusinessYearModal" tabindex="-1" aria-labelledby="addBusinessYearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="addBusinessYearModalLabel">Add BusinessYear</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateOrUpdateBusinessYear" method="post">
                    <input type="hidden" id="byId" name="Id">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="FullName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="FromDate" class="form-label">FromDate</label>
                            <input type="date" class="form-control" id="FromDate" name="FromDate">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="ToDate" class="form-label">ToDate</label>
                            <input type="date" class="form-control" id="ToDate" name="ToDate">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-circle"></i> <span id="modalSubmitText">Submit</span>
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            <i class="bi bi-arrow-clockwise"></i> Refresh
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function editBusinessYear(id, Name,FromDate,ToDate) {
            document.getElementById("byId").value = id;
            document.getElementById("Name").value = Name.toString();
            document.getElementById("FromDate").value = FromDate;
            document.getElementById("ToDate").value = ToDate;

            document.getElementById("addBusinessYearModalLabel").textContent = "Edit User";
            document.getElementById("modalSubmitText").textContent = "Update";
        }

        document.addEventListener("DOMContentLoaded", function () {
            var addBusinessYearModal = document.getElementById("addBusinessYearModal");
            addBusinessYearModal.addEventListener("hidden.bs.modal", function () {
                document.getElementById("addBusinessYearModalLabel").textContent = "Add User";
                document.getElementById("modalSubmitText").textContent = "Submit";
                document.getElementById("byId").value = "";
                document.getElementById("Name").value = "";
                document.getElementById("FromDate").value = "";
                document.getElementById("ToDate").value = "";               
            });
        });
    </script>

} 